<ion-header>
  <ion-toolbar>
    <ion-title>resultats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color="dark" size="small" class="btnback" href="/tab3" routerDirection="root">back</ion-button>
    <h1 style="text-align: center">Resultats des Paris</h1>
    <form (ngSubmit)="onSubmit()" *ngIf="status == 'admin'; else statusUser ">       
      <div class="inputbar" >
        <ion-input class="signupinput" type="text" placeholder="Pseudo" name="user" [(ngModel)]="form.user">EDIT</ion-input>
      </div>
      <div class="inputbar">
        <ion-input class="signupinput" type="text" placeholder="Nom" name="name" [(ngModel)]="form.name">name</ion-input>
        
      </div>
  
  </form>
  
  <ng-template #statusUser>
      <ion-button class="calendrier" href="/tab3" routerDirection="root"  color="light" type="submit">Calendrier</ion-button>
      
      <ion-list>
        
          <ion-item>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/navi.png" id="logofnatic">
            <ion-label style="text-align:center">Navi vs EnVy US</ion-label>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/EnvyUs.png" id="logoenvyus">
          </ion-item>
          <ion-item>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/luminosity.png" id="logofnatic">
            <ion-label style="text-align:center">Luminosity vs TSM</ion-label>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/TSM.png" id="logoenvyus">
          </ion-item>
          <ion-item>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/Virtus%20Pro.png" id="logofnatic">
            <ion-label style="text-align:center">Virtus vs Avant Garde</ion-label>
            <img src="https://ls.sportradar.com/ls/crest/medium/280441.png" id="logoenvyus">
          </ion-item>
          <ion-item>
              <img src="https://ls.sportradar.com/ls/crest/medium/254247.png" id="logofnatic">
            <ion-label style="text-align:center">Alliance vs OG</ion-label>
            <img src="https://ls.sportradar.com/ls/crest/medium/242386.png" id="logoenvyus">
          </ion-item>
          <ion-item>
              <img src="https://ls.sportradar.com/ls/crest/medium/248711.png" id="logofnatic">
            <ion-label style="text-align:center">Team Liquid vs Team Secret</ion-label>
            <img src="https://ls.sportradar.com/ls/crest/medium/242388.png" id="logoenvyus">
          </ion-item>
          <ion-item>
              <img src="https://ls.sportradar.com/ls/crest/medium/313111.png" id="logofnatic">
            <ion-label style="text-align:center">Ninjas vs Vega Squadro</ion-label>
            <img src="https://ls.sportradar.com/ls/crest/medium/250675.png" id="logoenvyus">
          </ion-item>
      </ion-list>


