<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Stats
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <h1 style="text-align: center">Pro Players Stats</h1>
  <form (ngSubmit)="onSubmit()" *ngIf="status == 'admin'; else statusUser ">
    <ion-label>Hey there admin, import the pro players stats here : </ion-label><br>
    <img style="width: 100px" src="https://pbs.twimg.com/profile_images/740272510420258817/sd2e6kJy.jpg">
    <br><ion-button color="light" size="small" type="submit">Load a picture</ion-button>       
    <div class="inputbar" >
      <ion-input class="signupinput" type="text" placeholder="Username..." name="user" [(ngModel)]="form.user">Player's name</ion-input>
    </div>
    <div class="inputbar">
      <ion-input class="signupinput" type="text" placeholder="Value..." name="kd" [(ngModel)]="form.kd">KD</ion-input>      
    </div>
    <div class="inputbar">
      <ion-input class="signupinput" type="text" placeholder="Value" name="dmg" [(ngModel)]="form.dmg">Damage / Round</ion-input>      
    </div>
    <div class="inputbar">
      <ion-input class="signupinput" type="text" placeholder="Value..." name="hits" [(ngModel)]="form.hits">Headshots %</ion-input>      
    </div>
    <div class="inputbar">
      <ion-input class="signupinput" type="text" placeholder="Value..." name="kills" [(ngModel)]="form.kills">Kills / Round</ion-input>      
    </div>
  
    <ion-button color="primary" type="submit">Save</ion-button>
  </form>

  <ng-template #statusUser>
    
    <!--<form (ngSubmit)="onSubmit()">-->       
      <!--<div class="inputbar" >
        <ion-input class="signupinput" type="text" placeholder="Pseudo" name="user" [(ngModel)]="form.user">NOT EDIT</ion-input>
      </div>
      <div class="inputbar">
        <ion-input class="signupinput" type="text" placeholder="Nom" name="name" [(ngModel)]="form.name">name</ion-input>
      </div>
    
      <ion-button color="primary" type="submit">send</ion-button>-->
      <h2 style="text-align: center">Fnatic VS. EnVyUs</h2>
      <ion-list>
        <ion-item>
            <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/13666/800.jpeg?v=4">
            <ion-label style="text-align: center">Brollan</ion-label>
            <ion-button color="light" type="submit" href="player1-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
            <img style="width: 50px" src="https://prosettings.net/wp-content/uploads/2019/01/drone-profile-picture.png">
            <ion-label style="text-align: center">Drone</ion-label>
            <ion-button color="light" type="submit" href="player2-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
            <img style="width: 50px" src="http://www.csgovideos.net/wp-content/uploads/2017/05/17155352_2240396199517868_6709729906224467398_n.jpg">
            <ion-label style="text-align: center">jdm64</ion-label>
            <ion-button color="light" type="submit" href="player3-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
            <img style="width: 50px" src="http://www.cadred.org/wp-content/uploads/2017/08/JW.jpg">
            <ion-label style="text-align: center">JW</ion-label>
            <ion-button color="light" type="submit" href="player4-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
            <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/429/800.jpeg?v=6">
            <ion-label style="text-align: center">karrigan (Loan)</ion-label>
            <ion-button color="light" type="submit" href="player5-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
          <img style="width: 50px" src="https://d50m6q67g4bn3.cloudfront.net/Pro_Player/fnatic_krimz.jpg">
          <ion-label style="text-align: center">KRIMZ</ion-label>
          <ion-button color="light" type="submit" href="player6-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
          <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/9069/400.jpeg?v=9">
          <ion-label style="text-align: center">Nifty</ion-label>
          <ion-button color="light" type="submit" href="player7-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
          <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/8137/800.jpeg?v=5">
          <ion-label style="text-align: center">reltuC</ion-label>
          <ion-button color="light" type="submit" href="player8-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
          <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/7443/800.jpeg?v=7">
          <ion-label style="text-align: center">Twist</ion-label>
          <ion-button color="light" type="submit" href="player9-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>
        <ion-item>
          <img style="width: 50px" src="https://static.hltv.org/images/playerprofile/thumb/884/800.jpeg?v=10">
          <ion-label style="text-align: center">Xizt</ion-label>
          <ion-button color="light" type="submit" href="player10-stats" routerDirection="root">SEE STATS</ion-button>
        </ion-item>

      </ion-list>
      <!--<a><ion-button expand="block" color="primary">See more</ion-button></a>
    </form>-->
    
  
  </ng-template>
 
</ion-content>