<!--
  Generated template for the Channel page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>{{data.channel.display_name}}</ion-title>
  </ion-navbar>

</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-button style="float: left" (click)="backPage()">back</ion-button>
     <ion-title style="float: right">
      Stream
    </ion-title> 
  </ion-toolbar>
</ion-header> -->

<ion-content> 
  <ion-card>
    <iframe allowfullscreen [src]="data.channel.name | safe:'resourceUrl'" width="100%" height="200"></iframe>
    <ion-button color="black" id="btnBack" (click)="backPage()">back</ion-button>
    <!-- <iframe allowfullscreen [src]="data.channel.name" width="100%" height="200"></iframe> -->
    <ion-card-content>
      <ion-card-title>{{data.channel.status}}</ion-card-title> 
      <ion-list>
        <ion-item>
        <div class="flex space-between width-100">
          <div>
            <ion-avatar class="logoTwitch">
                <img [src]="data.channel.logo"/>
            </ion-avatar>
          </div>
          <div>
            <ion-badge class="item-right">{{data.channel.display_name}}</ion-badge>
          </div>
        </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <div class="flex space-between width-100">
            <div>
              <div class="flex space-between ">
                <ion-icon name="logo-game-controller-a"></ion-icon>
                <p class="txtAlign">Game</p> 
              </div>
            </div>
            <div>
              <ion-badge>{{data.channel.game}}</ion-badge>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <div class="flex space-between width-100">
            <div>
              <div class="flex space-between">
                <ion-icon name="eye" item-left></ion-icon>
                <p class="txtAlign">Viewers</p>
              </div>
            </div>
            <div>
                <ion-badge class="item-right">{{data.viewers | safe:'KFormate'}}</ion-badge>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
