ion-card { margin: 0; } 
#btnBack
{
    height: 20px;
    background-color: black;
}

.flex
{
    display: flex;
}

.space-between
{
    justify-content: space-between;
}

.width-100
{
    width: 100%;
}

.logoTwitch
{
    width: 40px;
    height: 40px;
}

ion-icon {
    font-size: 30px;
}

.txtAlign
{
    margin: 5px;
}

