.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.avatar
{
  margin-right: 10px;
}

.title
{
  font-size: 2em;
  color: white;
  font-weight: bold;
  word-break: break-word;
  background-color: black;
  padding: 15px;
  text-transform: uppercase;
  width: 70%;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center-element {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  top: 50%;
}
ion-card { margin : 0 0 5px 0;}
