<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="card-background">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let data of datas" (click)="openChannel(data)" id="card">
    <img src="{{data.preview.medium}}"/>
    <p class="title center">{{data.channel.display_name}}</p>
    <!-- <div class="card-title">
      <div class="display_name">
        <h1>{{data.channel.display_name}}</h1>
      </div>
    </div> -->
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="infiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
