<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Pari
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <h1 style="text-align: center">Pari</h1>
  <form (ngSubmit)="onSubmit()" *ngIf="status == 'admin'; else statusUser ">       
    <div class="inputbar" >
      <ion-input class="signupinput" type="text" placeholder="Pseudo" name="user" [(ngModel)]="form.user">EDIT</ion-input>
    </div>
    <div class="inputbar">
      <ion-input class="signupinput" type="text" placeholder="Nom" name="name" [(ngModel)]="form.name">name</ion-input>
      
    </div>

</form>

<ng-template #statusUser>
    <ion-button class="buttonresultat" href="/resultats" routerDirection="root" color="light" type="submit">Resultats</ion-button>
    <ion-datetime displayFormat="DDDD D MMMM YYYY, H:mm " [(ngModel)]="myDate"
    monthNames="Janvier, Fevrier, Mars, Avril, Mais, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre\u00e7o, ..."
    monthShortNames="Jan, Fev, Mar, Avr, Mai, Juin, Juil, Aout, Sept, Oct, Nov, Dec"
    dayNames="Dimanche, Lundi, Mardi, Mercredi, Jeud , Vendredi , Samedi\u00e7a-feira, ..."
    dayShortNames="Lundi, Mardi, Mercredi, Jeudi,Vendredi, Samedi, Dimanche">

    </ion-datetime>
    <ion-list>
        <ion-item>
            <img src="https://asset.msi.com/global/picture/game-team/fnatic/fnatic_logo.jpg" id="logofnatic">
            <ion-label style="text-align:center" >Fnatic vs EnVy US</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/EnvyUs.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
        <ion-item>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/mouz.png" id="logofnatic">
            <ion-label style="text-align:center" >Mouse vs Cloud9</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/cloud9.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
        <ion-item>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/luminosity.png" id="logofnatic">
            <ion-label style="text-align:center" >Luminosity vs Ninja</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/nip.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
        <ion-item>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/TSM.png" id="logofnatic">
            <ion-label style="text-align:center" >TSM vs EnVy US</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/EnvyUs.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
        <ion-item>
            <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/Virtus%20Pro.png" id="logofnatic">
            <ion-label style="text-align:center" >Virtus vs Navi</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/navi.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
        <ion-item>
            <img src="https://asset.msi.com/global/picture/game-team/fnatic/fnatic_logo.jpg" id="logofnatic">
            <ion-label style="text-align:center" >Fnatic vs Navi</ion-label>
              <img src="http://www.team-aaa.com/photos/news/2015/CSGO/Equipes/navi.png" id="logoenvyus" style="align-items: right">
            
            <ion-button color="light" roundoutline type="submit">Parier</ion-button>
        </ion-item>
    </ion-list>
  </ng-template>
 
</ion-content>
  
